doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    //materialize.css
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    //icons
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    //social icons
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    |
    //scripts
    //materialize
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    //vue.js

  body.grey.darken-4
    nav
      div(class="nav-wrapper deep-purple accent-4")
        a(class="brand-logo right") つ ◕_◕ ༽つ
        a(data-target="mobile", class="sidenav-trigger")
          i.material-icons menu
        ul(id="nav-mobile", class="left hide-on-med-and-down")
          li
            a(href="/") Home
              i(class="material-icons left") home
          li
            a(href="/statistics") Stats
              i(class="material-icons left") assessment 
    ul(class="sidenav deep-purple accent-4", id="mobile")
      li
        a(href="/") Home
      li
        a(href="/statistics") Stats
    block content
